h2 {
  color: green;
  font-style: bold;
}
h1 {
  color: orange;
  font-style: bold;
}

.blog {
color: grey;
padding-top: 3px;
font-size: 15px;
}
.icon {
  padding: 10px;
  background: rgb(178, 202, 221);
  color: red;
  min-width: 10px;
  text-align: left;
}
.login {
  color: blue;
  padding-top: 3px;
  font-style:bold;
  font-size: 15px;
}
@media print {
  .pdf-container {
    display: none;
  }
}
.buton {
  color: orangered;
  padding-top: 3px;
  font-style:bold;
  font-size: 15px;
}
.removeButton{
  color: rgb(230, 17, 177);
  padding-top: 3px;
  font-style:bold;
  font-size: 12px;
}
.butonCreate {
  color: blue;
  padding-top: 3px;
  font-style:bold;
  font-size: 15px;
}
.error {
color: red;
background: lightgrey;
font-size: 20px;
border-style: solid;
border-radius: 5px;
padding: 10px;
margin-bottom: 10px;
}  
.info {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  }  