h2 {
  color: green;
  font-style: bold;
}

.blog {
color: grey;
padding-top: 3px;
font-size: 15px;
}
.login {
  color: blue;
  padding-top: 3px;
  font-style:bold;
  font-size: 15px;
}
.buton {
  color: orangered;
  padding-top: 3px;
  font-style:bold;
  font-size: 15px;
}
.butonCreate {
  color: blue;
  padding-top: 3px;
  font-style:bold;
  font-size: 15px;
}
.error {
color: red;
background: lightgrey;
font-size: 20px;
border-style: solid;
border-radius: 5px;
padding: 10px;
margin-bottom: 10px;
}  
.info {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  }  